/* CSS Variables */
:root {
  --header-bg-colour: #030773;
  --seasonal-message-banner-bgcolour: #d3d3d3;
}

/* All Elements */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Top Navigation Bar */
header {
  padding: 20px;
  background-color: var(--header-bg-colour);
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
}

header h1 {
  font-size: 48px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  flex-direction: row;
  float:right;
  list-style-type: none;
}

header nav li {
  padding-left: 30px;
}

/* Spacer Div */
#nav-bar-spacer {
  height: 95px;
}

/* Seasonal Message Bar */
#seasonal-message {
  background-color: var(--seasonal-message-banner-bgcolour);
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#seasonal-message h2 {
  font-size: 12px;
}

/* Button Banner (CSS Grid) */
#entire-button-banner {
  display:grid;
  height: 50vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "about-me-banner work-banner"
  "about-me-banner contact-me-banner"
}

#entire-button-banner a {
  color: white;
  text-decoration: none;
}

.each-button-banner {
  padding:10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#about-me-banner {
  grid-area: about-me-banner;
  background-image: url("../images/bl-about-me-image.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#work-banner {
  grid-area: work-banner;
  background-image: url("../images/bl-work-image.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact-me-banner {
  grid-area: contact-me-banner;
  background-image: url("../images/bl-contact-me-image.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Text Content Boxes */
.each-page-content-box {
  padding: 10px;
}

.each-page-content-box h2 {
  margin-bottom: 10px;
}

.each-page-content-box li {
  margin-top: 5px;
}

/* Work Section */
#work-portfolio-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "project-1-banner project-1-banner"
  "project-2-banner project-3-banner"
  "project-4-banner project-5-banner";
  height:100vh;
}

.each-project-banner {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  color: white;
}

#project-1-banner {
  grid-area: project-1-banner;
  background-image: url("../images/02-portfolio-1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project-2-banner {
  grid-area: project-2-banner;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project-3-banner {
  grid-area: project-3-banner;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project-4-banner {
  grid-area: project-4-banner;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project-5-banner {
  grid-area: project-5-banner;
  background-image: url("../images/02-run-buddy.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Contact Me Section */
#contact-me-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:20px;
  font-style: normal;
}

#contact-me-section h2 {
  margin-bottom: 0px;
}

#contact-elements p {
  float:right;
  margin-left: 90px;
}

#contact-elements a {
  color: black;
  font-weight: bold;
  
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  #entire-button-banner {
    display:grid;
    height: 50vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "about-me-banner"
    "work-banner"
    "contact-me-banner"
  }

  #work-portfolio-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "project-1-banner"
    "project-2-banner"
    "project-3-banner"
    "project-4-banner"
    "project-5-banner";
    height:100vh;
  }
}